body {
    font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: #b8b8b8;
    padding: 15px;
}

td {
    background-color: #7ebbed;
    padding: 5px;
}